// <copyright file="AsyncProcessingController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// AsyncProcessingController.
    /// </summary>
    public class AsyncProcessingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="AsyncProcessingController"/> class.
        /// </summary>
        internal AsyncProcessingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Retrieve the current status for a particular code.
        /// </summary>
        /// <param name="statusCode">Required parameter: A [UUID v4](https://datatracker.ietf.org/doc/html/rfc4122) that's unique for the Async Request.</param>
        /// <returns>Returns the Models.ResponseAsyncStatus response from the API call.</returns>
        public Models.ResponseAsyncStatus StatusCheck(
                Guid statusCode)
            => CoreHelper.RunTask(StatusCheckAsync(statusCode));

        /// <summary>
        /// Retrieve the current status for a particular code.
        /// </summary>
        /// <param name="statusCode">Required parameter: A [UUID v4](https://datatracker.ietf.org/doc/html/rfc4122) that's unique for the Async Request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseAsyncStatus response from the API call.</returns>
        public async Task<Models.ResponseAsyncStatus> StatusCheckAsync(
                Guid statusCode,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseAsyncStatus>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/async/status/{status_code}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("status_code", statusCode))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}