// <copyright file="ElementsController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// ElementsController.
    /// </summary>
    public class ElementsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ElementsController"/> class.
        /// </summary>
        internal ElementsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Elements uses a `TicketIntention` object to represent your intent to obtain credit card information from a customer with the intent to tokenize the card or charge the card. Ticket Intention is great with online store checkouts.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseTicketIntention response from the API call.</returns>
        public Models.ResponseTicketIntention TicketIntention(
                Models.V1ElementsTicketIntentionRequest body)
            => CoreHelper.RunTask(TicketIntentionAsync(body));

        /// <summary>
        /// Elements uses a `TicketIntention` object to represent your intent to obtain credit card information from a customer with the intent to tokenize the card or charge the card. Ticket Intention is great with online store checkouts.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTicketIntention response from the API call.</returns>
        public async Task<Models.ResponseTicketIntention> TicketIntentionAsync(
                Models.V1ElementsTicketIntentionRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTicketIntention>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/elements/ticket/intention")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Elements uses a `TransactionIntention` object to represent your intent to collect payment from a customer, tracking charge attempts and payment state changes throughout the process.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseTransactionIntention response from the API call.</returns>
        public Models.ResponseTransactionIntention TransactionIntention(
                Models.V1ElementsTransactionIntentionRequest body)
            => CoreHelper.RunTask(TransactionIntentionAsync(body));

        /// <summary>
        /// Elements uses a `TransactionIntention` object to represent your intent to collect payment from a customer, tracking charge attempts and payment state changes throughout the process.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionIntention response from the API call.</returns>
        public async Task<Models.ResponseTransactionIntention> TransactionIntentionAsync(
                Models.V1ElementsTransactionIntentionRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionIntention>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/elements/transaction/intention")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}