// <copyright file="FullBoardingController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// FullBoardingController.
    /// </summary>
    public class FullBoardingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="FullBoardingController"/> class.
        /// </summary>
        internal FullBoardingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// This method is used to fully board a merchant to the platform. When using this method, you must provide data for each "Required" property. See the description for each of these properties for more information about their requirement criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResponseFullboarding response from the API call.</returns>
        public ApiResponse<Models.ResponseFullboarding> MerchantBoardingFull(
                Models.V1FullboardingRequest body)
            => CoreHelper.RunTask(MerchantBoardingFullAsync(body));

        /// <summary>
        /// This method is used to fully board a merchant to the platform. When using this method, you must provide data for each "Required" property. See the description for each of these properties for more information about their requirement criteria.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseFullboarding response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseFullboarding>> MerchantBoardingFullAsync(
                Models.V1FullboardingRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseFullboarding>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/fullboarding")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}