// <copyright file="Level3DataController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// Level3DataController.
    /// </summary>
    public class Level3DataController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="Level3DataController"/> class.
        /// </summary>
        internal Level3DataController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// CreateanewLevel3entryforaMasterCard EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3Master response from the API call.</returns>
        public ApiResponse<Models.ResponseTransactionLevel3Master> CreateanewLevel3EntryforaMasterCard(
                string transactionId,
                Models.V1TransactionsLevel3MasterCardRequest body)
            => CoreHelper.RunTask(CreateanewLevel3EntryforaMasterCardAsync(transactionId, body));

        /// <summary>
        /// CreateanewLevel3entryforaMasterCard EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3Master response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransactionLevel3Master>> CreateanewLevel3EntryforaMasterCardAsync(
                string transactionId,
                Models.V1TransactionsLevel3MasterCardRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3Master>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/{transaction_id}/level3/master-card")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("transaction_id", transactionId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// CreateanewLevel3entryforaVisa EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3Visa response from the API call.</returns>
        public ApiResponse<Models.ResponseTransactionLevel3Visa> CreateanewLevel3EntryforaVisa(
                string transactionId,
                Models.V1TransactionsLevel3VisaRequest body)
            => CoreHelper.RunTask(CreateanewLevel3EntryforaVisaAsync(transactionId, body));

        /// <summary>
        /// CreateanewLevel3entryforaVisa EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3Visa response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransactionLevel3Visa>> CreateanewLevel3EntryforaVisaAsync(
                string transactionId,
                Models.V1TransactionsLevel3VisaRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3Visa>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/{transaction_id}/level3/visa")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("transaction_id", transactionId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Deleteasinglelevel3record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3 response from the API call.</returns>
        public ApiResponse<Models.ResponseTransactionLevel3> Deleteasinglelevel3Record(
                string transactionId,
                string level3Id)
            => CoreHelper.RunTask(Deleteasinglelevel3RecordAsync(transactionId, level3Id));

        /// <summary>
        /// Deleteasinglelevel3record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3 response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransactionLevel3>> Deleteasinglelevel3RecordAsync(
                string transactionId,
                string level3Id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/transactions/{transaction_id}/level3/{level3_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId).Required())
                      .Template(template => template.Setup("level3_id", level3Id).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Viewsinglelevel3record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3 response from the API call.</returns>
        public ApiResponse<Models.ResponseTransactionLevel3> Viewsinglelevel3Record(
                string transactionId,
                string level3Id)
            => CoreHelper.RunTask(Viewsinglelevel3RecordAsync(transactionId, level3Id));

        /// <summary>
        /// Viewsinglelevel3record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransactionLevel3 response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransactionLevel3>> Viewsinglelevel3RecordAsync(
                string transactionId,
                string level3Id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/transactions/{transaction_id}/level3/{level3_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId).Required())
                      .Template(template => template.Setup("level3_id", level3Id).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}