// <copyright file="Level3DataController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// Level3DataController.
    /// </summary>
    public class Level3DataController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="Level3DataController"/> class.
        /// </summary>
        internal Level3DataController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new Level3 entry for a MasterCard EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseTransactionLevel3Master response from the API call.</returns>
        public Models.ResponseTransactionLevel3Master CreateANewLevel3EntryForAMasterCard(
                string transactionId,
                Models.V1TransactionsLevel3MasterCardRequest body)
            => CoreHelper.RunTask(CreateANewLevel3EntryForAMasterCardAsync(transactionId, body));

        /// <summary>
        /// Create a new Level3 entry for a MasterCard EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionLevel3Master response from the API call.</returns>
        public async Task<Models.ResponseTransactionLevel3Master> CreateANewLevel3EntryForAMasterCardAsync(
                string transactionId,
                Models.V1TransactionsLevel3MasterCardRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3Master>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/{transaction_id}/level3/master-card")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("transaction_id", transactionId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new Level3 entry for a Visa EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseTransactionLevel3Visa response from the API call.</returns>
        public Models.ResponseTransactionLevel3Visa CreateANewLevel3EntryForAVisa(
                string transactionId,
                Models.V1TransactionsLevel3VisaRequest body)
            => CoreHelper.RunTask(CreateANewLevel3EntryForAVisaAsync(transactionId, body));

        /// <summary>
        /// Create a new Level3 entry for a Visa EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionLevel3Visa response from the API call.</returns>
        public async Task<Models.ResponseTransactionLevel3Visa> CreateANewLevel3EntryForAVisaAsync(
                string transactionId,
                Models.V1TransactionsLevel3VisaRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3Visa>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/{transaction_id}/level3/visa")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("transaction_id", transactionId))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete a single level3 record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <returns>Returns the Models.ResponseTransactionLevel3 response from the API call.</returns>
        public Models.ResponseTransactionLevel3 DeleteASingleLevel3Record(
                string transactionId,
                string level3Id)
            => CoreHelper.RunTask(DeleteASingleLevel3RecordAsync(transactionId, level3Id));

        /// <summary>
        /// Delete a single level3 record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionLevel3 response from the API call.</returns>
        public async Task<Models.ResponseTransactionLevel3> DeleteASingleLevel3RecordAsync(
                string transactionId,
                string level3Id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/transactions/{transaction_id}/level3/{level3_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId))
                      .Template(template => template.Setup("level3_id", level3Id))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// View single level3 record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <returns>Returns the Models.ResponseTransactionLevel3 response from the API call.</returns>
        public Models.ResponseTransactionLevel3 ViewSingleLevel3Record(
                string transactionId,
                string level3Id)
            => CoreHelper.RunTask(ViewSingleLevel3RecordAsync(transactionId, level3Id));

        /// <summary>
        /// View single level3 record EndPoint.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="level3Id">Required parameter: Level 3 ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionLevel3 response from the API call.</returns>
        public async Task<Models.ResponseTransactionLevel3> ViewSingleLevel3RecordAsync(
                string transactionId,
                string level3Id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionLevel3>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/transactions/{transaction_id}/level3/{level3_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId))
                      .Template(template => template.Setup("level3_id", level3Id))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}