// <copyright file="M3DsTransactionsController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// M3DsTransactionsController.
    /// </summary>
    public class M3DsTransactionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="M3DsTransactionsController"/> class.
        /// </summary>
        internal M3DsTransactionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// For getting results of successful 3DS authentication attempts.
        /// </summary>
        /// <param name="threeDsServerTransId">Required parameter: Universally unique transaction identifier assigned by the 3DS Server to identify a single transaction..</param>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID associated with this 3DS request.</param>
        /// <returns>Returns the ApiResponse of Models.ResponseThreeDsTransaction response from the API call.</returns>
        public ApiResponse<Models.ResponseThreeDsTransaction> M3DsTransactionsRequest(
                string threeDsServerTransId,
                string productTransactionId)
            => CoreHelper.RunTask(M3DsTransactionsRequestAsync(threeDsServerTransId, productTransactionId));

        /// <summary>
        /// For getting results of successful 3DS authentication attempts.
        /// </summary>
        /// <param name="threeDsServerTransId">Required parameter: Universally unique transaction identifier assigned by the 3DS Server to identify a single transaction..</param>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID associated with this 3DS request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseThreeDsTransaction response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseThreeDsTransaction>> M3DsTransactionsRequestAsync(
                string threeDsServerTransId,
                string productTransactionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseThreeDsTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("three_ds_server_trans_id", threeDsServerTransId).Required())
                      .Query(query => query.Setup("product_transaction_id", productTransactionId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}