// <copyright file="M3DSAuthenticationController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// M3DSAuthenticationController.
    /// </summary>
    public class M3DSAuthenticationController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="M3DSAuthenticationController"/> class.
        /// </summary>
        internal M3DSAuthenticationController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Makes a 3DS Authentication request to authenticate a card or begin the challenge flow.  If a challenge is required, a POST should be made to acs_url using the value of base64_encoded_challenge_request for the value of "creq" using x-www-form-urlencoded for the challenge request to the ACS.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseThreeDSAuthentication response from the API call.</returns>
        public Models.ResponseThreeDSAuthentication M3DSAuthenticationRequest(
                Models.V1MerchantThreedsecureAuthenticationRequest body)
            => CoreHelper.RunTask(M3DSAuthenticationRequestAsync(body));

        /// <summary>
        /// Makes a 3DS Authentication request to authenticate a card or begin the challenge flow.  If a challenge is required, a POST should be made to acs_url using the value of base64_encoded_challenge_request for the value of "creq" using x-www-form-urlencoded for the challenge request to the ACS.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseThreeDSAuthentication response from the API call.</returns>
        public async Task<Models.ResponseThreeDSAuthentication> M3DSAuthenticationRequestAsync(
                Models.V1MerchantThreedsecureAuthenticationRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseThreeDSAuthentication>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/merchant/threedsecure/authentication")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Bad Request", (errorReason, context) => new ResponseErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}