// <copyright file="M3DSTransactionsController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// M3DSTransactionsController.
    /// </summary>
    public class M3DSTransactionsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="M3DSTransactionsController"/> class.
        /// </summary>
        internal M3DSTransactionsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// For getting results of successful 3DS authentication attempts.
        /// </summary>
        /// <param name="threeDsServerTransId">Required parameter: Universally unique transaction identifier assigned by the 3DS Server to identify a single transaction..</param>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID associated with this 3DS request.</param>
        /// <returns>Returns the Models.ResponseThreeDSTransaction response from the API call.</returns>
        public Models.ResponseThreeDSTransaction M3DSTransactionsRequest(
                string threeDsServerTransId,
                string productTransactionId)
            => CoreHelper.RunTask(M3DSTransactionsRequestAsync(threeDsServerTransId, productTransactionId));

        /// <summary>
        /// For getting results of successful 3DS authentication attempts.
        /// </summary>
        /// <param name="threeDsServerTransId">Required parameter: Universally unique transaction identifier assigned by the 3DS Server to identify a single transaction..</param>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID associated with this 3DS request.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseThreeDSTransaction response from the API call.</returns>
        public async Task<Models.ResponseThreeDSTransaction> M3DSTransactionsRequestAsync(
                string threeDsServerTransId,
                string productTransactionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseThreeDSTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("three_ds_server_trans_id", threeDsServerTransId))
                      .Query(query => query.Setup("product_transaction_id", productTransactionId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}