// <copyright file="MerchantDetailsController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// MerchantDetailsController.
    /// </summary>
    public class MerchantDetailsController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="MerchantDetailsController"/> class.
        /// </summary>
        internal MerchantDetailsController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Merchant Details.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the Models.ResponseMerchantDetails response from the API call.</returns>
        public Models.ResponseMerchantDetails MerchantDetails(
                Models.V1WalletProviderMerchantDetailsRequest body)
            => CoreHelper.RunTask(MerchantDetailsAsync(body));

        /// <summary>
        /// Merchant Details.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseMerchantDetails response from the API call.</returns>
        public async Task<Models.ResponseMerchantDetails> MerchantDetailsAsync(
                Models.V1WalletProviderMerchantDetailsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseMerchantDetails>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/wallet-provider/merchant-details")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}