// <copyright file="PaylinksController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// PaylinksController.
    /// </summary>
    public class PaylinksController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PaylinksController"/> class.
        /// </summary>
        internal PaylinksController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Generate a new Paylink to be sent via email, sms or grab the payment_url to embed in you own messaging system. .
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylink> CreateanewPaylink(
                Models.V1PaylinksRequest body,
                List<Models.Expand17> expand = null)
            => CoreHelper.RunTask(CreateanewPaylinkAsync(body, expand));

        /// <summary>
        /// Generate a new Paylink to be sent via email, sms or grab the payment_url to embed in you own messaging system. .
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylink>> CreateanewPaylinkAsync(
                Models.V1PaylinksRequest body,
                List<Models.Expand17> expand = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylink>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/paylinks")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Pull in all Paylinks associated with the location_id.
        /// </summary>
        /// <param name="page"><![CDATA[Optional parameter: Use this field to specify paginate your results, by using page size and number. You can use one of the following methods: >/endpoint?page={ "number": 1, "size": 50 } > >/endpoint?page[number]=1&page[size]=50 >.]]></param>
        /// <param name="order"><![CDATA[Optional parameter: Criteria used in query string parameters to order results.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`.  Must be encoded, or use syntax that does not require encoding. >/endpoint?order[0][key]=created_ts&order[0][operator]=asc > >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] > >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts", "operator": "asc"}] >.]]></param>
        /// <param name="filterBy"><![CDATA[Optional parameter: Filter criteria that can be used in query string parameters.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`. Must be encoded, or use syntax that does not require encoding. >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key": "created_ts", "operator": ">=", "value": "946702799" }, { "key": "created_ts", "operator": "<=", value: "1695061891" }] > >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value": "Williams,Brown,Allman" }] >.]]></param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="format">Optional parameter: Reporting format, valid values: csv, tsv.</param>
        /// <param name="typeahead"><![CDATA[Optional parameter: You can use any `field_name` from this endpoint results to order the list using the value provided as filter for the same `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={ "field_name": "Value" }&_typeahead=field_name >.]]></param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylinksCollection response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylinksCollection> ListallPaylinks(
                Models.Page1 page = null,
                List<Models.Order21> order = null,
                List<Models.FilterBy> filterBy = null,
                List<Models.Expand18> expand = null,
                Models.Format1? format = null,
                string typeahead = null,
                List<Models.Field39> fields = null)
            => CoreHelper.RunTask(ListallPaylinksAsync(page, order, filterBy, expand, format, typeahead, fields));

        /// <summary>
        /// Pull in all Paylinks associated with the location_id.
        /// </summary>
        /// <param name="page"><![CDATA[Optional parameter: Use this field to specify paginate your results, by using page size and number. You can use one of the following methods: >/endpoint?page={ "number": 1, "size": 50 } > >/endpoint?page[number]=1&page[size]=50 >.]]></param>
        /// <param name="order"><![CDATA[Optional parameter: Criteria used in query string parameters to order results.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`.  Must be encoded, or use syntax that does not require encoding. >/endpoint?order[0][key]=created_ts&order[0][operator]=asc > >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] > >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts", "operator": "asc"}] >.]]></param>
        /// <param name="filterBy"><![CDATA[Optional parameter: Filter criteria that can be used in query string parameters.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`. Must be encoded, or use syntax that does not require encoding. >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key": "created_ts", "operator": ">=", "value": "946702799" }, { "key": "created_ts", "operator": "<=", value: "1695061891" }] > >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value": "Williams,Brown,Allman" }] >.]]></param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="format">Optional parameter: Reporting format, valid values: csv, tsv.</param>
        /// <param name="typeahead"><![CDATA[Optional parameter: You can use any `field_name` from this endpoint results to order the list using the value provided as filter for the same `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={ "field_name": "Value" }&_typeahead=field_name >.]]></param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylinksCollection response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylinksCollection>> ListallPaylinksAsync(
                Models.Page1 page = null,
                List<Models.Order21> order = null,
                List<Models.FilterBy> filterBy = null,
                List<Models.Expand18> expand = null,
                Models.Format1? format = null,
                string typeahead = null,
                List<Models.Field39> fields = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylinksCollection>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/paylinks")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("page", page))
                      .Query(query => query.Setup("order", order))
                      .Query(query => query.Setup("filter_by", filterBy))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("_format", (format.HasValue) ? CoreHelper.JsonSerialize(format.Value).Trim('\"') : null))
                      .Query(query => query.Setup("_typeahead", typeahead))
                      .Query(query => query.Setup("fields", fields?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete an existing Paylink_id .
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylink> DeletePaylink(
                string paylinkId)
            => CoreHelper.RunTask(DeletePaylinkAsync(paylinkId));

        /// <summary>
        /// Delete an existing Paylink_id .
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylink>> DeletePaylinkAsync(
                string paylinkId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylink>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v1/paylinks/{paylink_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("paylink_id", paylinkId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Use the Paylink_id obtained from the Create request to look up the status.
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylink> ViewSinglePaylink(
                string paylinkId,
                List<Models.Expand18> expand = null,
                List<Models.Field39> fields = null)
            => CoreHelper.RunTask(ViewSinglePaylinkAsync(paylinkId, expand, fields));

        /// <summary>
        /// Use the Paylink_id obtained from the Create request to look up the status.
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylink>> ViewSinglePaylinkAsync(
                string paylinkId,
                List<Models.Expand18> expand = null,
                List<Models.Field39> fields = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylink>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/paylinks/{paylink_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("paylink_id", paylinkId).Required())
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("fields", fields?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Update an existing Paylink_id .
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylink> UpdatePaylink(
                string paylinkId,
                Models.V1PaylinksRequest1 body,
                List<Models.Expand17> expand = null)
            => CoreHelper.RunTask(UpdatePaylinkAsync(paylinkId, body, expand));

        /// <summary>
        /// Update an existing Paylink_id .
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylink>> UpdatePaylinkAsync(
                string paylinkId,
                Models.V1PaylinksRequest1 body,
                List<Models.Expand17> expand = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylink>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v1/paylinks/{paylink_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("paylink_id", paylinkId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Resend the Paylink via email or sms.
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="email">Optional parameter: Resend Email.</param>
        /// <param name="sms">Optional parameter: Resend SMS.</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public ApiResponse<Models.ResponsePaylink> ResendPaylink(
                string paylinkId,
                List<Models.Expand17> expand = null,
                Models.Email? email = null,
                Models.Sms? sms = null)
            => CoreHelper.RunTask(ResendPaylinkAsync(paylinkId, expand, email, sms));

        /// <summary>
        /// Resend the Paylink via email or sms.
        /// </summary>
        /// <param name="paylinkId">Required parameter: System generatedPaylink Id.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="email">Optional parameter: Resend Email.</param>
        /// <param name="sms">Optional parameter: Resend SMS.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaylink response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaylink>> ResendPaylinkAsync(
                string paylinkId,
                List<Models.Expand17> expand = null,
                Models.Email? email = null,
                Models.Sms? sms = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaylink>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Put, "/v1/paylinks/{paylink_id}/resend")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("paylink_id", paylinkId).Required())
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("email", (email.HasValue) ? (int?)email.Value : null))
                      .Query(query => query.Setup("sms", (sms.HasValue) ? (int?)sms.Value : null))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}