// <copyright file="PaymentCardReaderTokenController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// PaymentCardReaderTokenController.
    /// </summary>
    public class PaymentCardReaderTokenController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PaymentCardReaderTokenController"/> class.
        /// </summary>
        internal PaymentCardReaderTokenController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// For initializing iPhone card readers for Apple Tap to Pay transactions .
        /// </summary>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID to be used to initialize the card reader.</param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaymentCardReaderToken response from the API call.</returns>
        public ApiResponse<Models.ResponsePaymentCardReaderToken> PaymentCardReaderTokenRequest(
                string productTransactionId)
            => CoreHelper.RunTask(PaymentCardReaderTokenRequestAsync(productTransactionId));

        /// <summary>
        /// For initializing iPhone card readers for Apple Tap to Pay transactions .
        /// </summary>
        /// <param name="productTransactionId">Required parameter: Product Transaction ID to be used to initialize the card reader.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponsePaymentCardReaderToken response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponsePaymentCardReaderToken>> PaymentCardReaderTokenRequestAsync(
                string productTransactionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponsePaymentCardReaderToken>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/payment-card-reader-token")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("product_transaction_id", productTransactionId).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}