// <copyright file="TransactionsReadController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// TransactionsReadController.
    /// </summary>
    public class TransactionsReadController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionsReadController"/> class.
        /// </summary>
        internal TransactionsReadController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Get BIN info record associated with a transaction.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <returns>Returns the Models.ResponseTransactionBinInfo response from the API call.</returns>
        public Models.ResponseTransactionBinInfo GetBINInfo(
                string transactionId)
            => CoreHelper.RunTask(GetBINInfoAsync(transactionId));

        /// <summary>
        /// Get BIN info record associated with a transaction.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionBinInfo response from the API call.</returns>
        public async Task<Models.ResponseTransactionBinInfo> GetBINInfoAsync(
                string transactionId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionBinInfo>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/transactions/{transaction_id}/bin-info")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get single transaction record.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public Models.ResponseTransaction GetTransaction(
                string transactionId,
                List<Models.Expand60Enum> expand = null,
                List<Models.Field57Enum> fields = null)
            => CoreHelper.RunTask(GetTransactionAsync(transactionId, expand, fields));

        /// <summary>
        /// Get single transaction record.
        /// </summary>
        /// <param name="transactionId">Required parameter: Transaction ID.</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public async Task<Models.ResponseTransaction> GetTransactionAsync(
                string transactionId,
                List<Models.Expand60Enum> expand = null,
                List<Models.Field57Enum> fields = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/transactions/{transaction_id}")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("transaction_id", transactionId))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("fields", fields?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// List transactions.
        /// </summary>
        /// <param name="page"><![CDATA[Optional parameter: Use this field to specify paginate your results, by using page size and number. You can use one of the following methods: >/endpoint?page={ "number": 1, "size": 50 } > >/endpoint?page[number]=1&page[size]=50 >.]]></param>
        /// <param name="order"><![CDATA[Optional parameter: Criteria used in query string parameters to order results.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`.  Must be encoded, or use syntax that does not require encoding. >/endpoint?order[0][key]=created_ts&order[0][operator]=asc > >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] > >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts", "operator": "asc"}] >.]]></param>
        /// <param name="filterBy"><![CDATA[Optional parameter: Filter criteria that can be used in query string parameters.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`. Must be encoded, or use syntax that does not require encoding. >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key": "created_ts", "operator": ">=", "value": "946702799" }, { "key": "created_ts", "operator": "<=", value: "1695061891" }] > >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value": "Williams,Brown,Allman" }] >.]]></param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="format">Optional parameter: Reporting format, valid values: csv, tsv.</param>
        /// <param name="typeahead"><![CDATA[Optional parameter: You can use any `field_name` from this endpoint results to order the list using the value provided as filter for the same `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={ "field_name": "Value" }&_typeahead=field_name >.]]></param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <returns>Returns the Models.ResponseTransactionsCollection response from the API call.</returns>
        public Models.ResponseTransactionsCollection ListTransactions(
                Models.Page page = null,
                List<Models.Order21> order = null,
                List<Models.FilterBy> filterBy = null,
                List<Models.Expand60Enum> expand = null,
                Models.Format1Enum? format = null,
                string typeahead = null,
                List<Models.Field57Enum> fields = null)
            => CoreHelper.RunTask(ListTransactionsAsync(page, order, filterBy, expand, format, typeahead, fields));

        /// <summary>
        /// List transactions.
        /// </summary>
        /// <param name="page"><![CDATA[Optional parameter: Use this field to specify paginate your results, by using page size and number. You can use one of the following methods: >/endpoint?page={ "number": 1, "size": 50 } > >/endpoint?page[number]=1&page[size]=50 >.]]></param>
        /// <param name="order"><![CDATA[Optional parameter: Criteria used in query string parameters to order results.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`.  Must be encoded, or use syntax that does not require encoding. >/endpoint?order[0][key]=created_ts&order[0][operator]=asc > >/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] > >/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts", "operator": "asc"}] >.]]></param>
        /// <param name="filterBy"><![CDATA[Optional parameter: Filter criteria that can be used in query string parameters.  Most fields from the endpoint results can be used as a `key`.  Unsupported fields or operators will return a `412`. Must be encoded, or use syntax that does not require encoding. >?filter_by[0][key]=first_name&filter_by[0][operator]==&filter_by[0][value]=Steve > >/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred" }] > >/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value": "VISA" }] > >/endpoint?filter_by=[{ "key": "created_ts", "operator": ">=", "value": "946702799" }, { "key": "created_ts", "operator": "<=", value: "1695061891" }] > >/endpoint?filter_by=[{ "key": "last_name", "operator": "IN", "value": "Williams,Brown,Allman" }] >.]]></param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="format">Optional parameter: Reporting format, valid values: csv, tsv.</param>
        /// <param name="typeahead"><![CDATA[Optional parameter: You can use any `field_name` from this endpoint results to order the list using the value provided as filter for the same `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts with, 3) Contains. >/endpoint?filter={ "field_name": "Value" }&_typeahead=field_name >.]]></param>
        /// <param name="fields">Optional parameter: You can use any `field_name` from this endpoint results to filter the list of fields returned on the response..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransactionsCollection response from the API call.</returns>
        public async Task<Models.ResponseTransactionsCollection> ListTransactionsAsync(
                Models.Page page = null,
                List<Models.Order21> order = null,
                List<Models.FilterBy> filterBy = null,
                List<Models.Expand60Enum> expand = null,
                Models.Format1Enum? format = null,
                string typeahead = null,
                List<Models.Field57Enum> fields = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransactionsCollection>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/transactions")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("page", page))
                      .Query(query => query.Setup("order", order))
                      .Query(query => query.Setup("filter_by", filterBy))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))
                      .Query(query => query.Setup("_format", (format.HasValue) ? CoreHelper.JsonSerialize(format.Value).Trim('\"') : null))
                      .Query(query => query.Setup("_typeahead", typeahead))
                      .Query(query => query.Setup("fields", fields?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}