// <copyright file="TransactionsEBTCardController.cs" company="APIMatic">
// FortisAPI.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisAPI.Standard.Exceptions;
using System.Collections.Generic;
using System.Linq;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisAPI.Standard.Controllers
{
    /// <summary>
    /// TransactionsEBTCardController.
    /// </summary>
    public class TransactionsEBTCardController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionsEBTCardController"/> class.
        /// </summary>
        internal TransactionsEBTCardController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new keyed EBT voucher clear refund transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public Models.ResponseTransaction EBTVoucherClearRefund(
                Models.V1TransactionsEbtVoucherClearRefundKeyedRequest body,
                List<Models.Expand60Enum> expand = null)
            => CoreHelper.RunTask(EBTVoucherClearRefundAsync(body, expand));

        /// <summary>
        /// Create a new keyed EBT voucher clear refund transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public async Task<Models.ResponseTransaction> EBTVoucherClearRefundAsync(
                Models.V1TransactionsEbtVoucherClearRefundKeyedRequest body,
                List<Models.Expand60Enum> expand = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/ebt/voucher-clear-refund/keyed")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new keyed EBT voucher clear sale transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public Models.ResponseTransaction EBTVoucherClearSale(
                Models.V1TransactionsEbtVoucherClearSaleKeyedRequest body,
                List<Models.Expand60Enum> expand = null)
            => CoreHelper.RunTask(EBTVoucherClearSaleAsync(body, expand));

        /// <summary>
        /// Create a new keyed EBT voucher clear sale transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="expand">Optional parameter: Most endpoints in the API have a way to retrieve extra data related to the current record being retrieved. For example, if the API request is for the accountvaults endpoint, and the end user also needs to know which contact the token belongs to, this data can be returned in the accountvaults endpoint request..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the Models.ResponseTransaction response from the API call.</returns>
        public async Task<Models.ResponseTransaction> EBTVoucherClearSaleAsync(
                Models.V1TransactionsEbtVoucherClearSaleKeyedRequest body,
                List<Models.Expand60Enum> expand = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/ebt/voucher-clear-sale/keyed")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Query(query => query.Setup("expand", expand?.Select(a => CoreHelper.JsonSerialize(a).Trim('\"')).ToList()))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401tokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}