// <copyright file="TransactionsCashController.cs" company="APIMatic">
// FortisApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using FortisApi.Standard.Exceptions;
using FortisApi.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace FortisApi.Standard.Controllers
{
    /// <summary>
    /// TransactionsCashController.
    /// </summary>
    public class TransactionsCashController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionsCashController"/> class.
        /// </summary>
        internal TransactionsCashController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Create a new cash refund transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransaction response from the API call.</returns>
        public ApiResponse<Models.ResponseTransaction> CashRefund(
                Models.V1TransactionsCashRefundRequest body)
            => CoreHelper.RunTask(CashRefundAsync(body));

        /// <summary>
        /// Create a new cash refund transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransaction response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransaction>> CashRefundAsync(
                Models.V1TransactionsCashRefundRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/cash/refund")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Create a new cash sale transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransaction response from the API call.</returns>
        public ApiResponse<Models.ResponseTransaction> CashSale(
                Models.V1TransactionsCashSaleRequest body)
            => CoreHelper.RunTask(CashSaleAsync(body));

        /// <summary>
        /// Create a new cash sale transaction.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ResponseTransaction response from the API call.</returns>
        public async Task<ApiResponse<Models.ResponseTransaction>> CashSaleAsync(
                Models.V1TransactionsCashSaleRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ResponseTransaction>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v1/transactions/cash/sale")
                  .WithAndAuth(andAuth => andAuth
                      .Add("user-id")
                      .Add("user-api-key")
                      .Add("developer-id")
                  )
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Unauthorized", (errorReason, context) => new Response401TokenException(errorReason, context)))
                  .ErrorCase("412", CreateErrorCase("Precondition Failed", (errorReason, context) => new Response412Exception(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}